{% extends "base.html" %}
{% from "forms_macro.html" import render_field %}

{% block title %} 
Add a new bookmark
{% endblock %} 

{% block content %} 
    <form action="add" method="post" accept-charset="utf-8">
        {{ form.hidden_tag() }}
        <table>
            {{ render_field(form.url, size=50) }}
            {{ render_field(form.description, size=50) }}

            <tr>
                <td></td>
                <td><button type="submit">Submit</button></td>
            </tr>
        </table>
        <p>
            
        </p>
    </form>
{% endblock %} 

{% block sidebar %} 
{% endblock %} 

